
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h1>Biological networks</h1>

<p>
Biological networks are messy and complicated.
Here's a neat quote from <a href="http://www.linkgroup.hu/petercsermely.php">Péter Csermely</a>:
</p>

<blockquote>
"Biological networks offer the experience of a billion years in crisis-survival - we can learn from them."
</blockquote>

<p>
This is from Péter's site:
</p>

<blockquote>
"As an ordinary biochemist, I have started to recognize the strength 
of the network approach only in 2002...
Currently I am working on the role of weak links in the interaction 
scenarios (dynamic equilibria, games) between network partners."
</blockquote>

</body>                                    
</html>

