
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h1>Exponential Random Graph Models (ERGMs)</h1>




<p>


<a href="http://www.stat.cmu.edu/~annlee/">http://www.stat.cmu.edu/~annlee/</a>



<a href="http://videolectures.net/mlss09us_lee_ndrscadcg/">
Nonlinear Dimension Reduction by Spectral Connectivity Analysis and Diffusion Coarse-Graining
</a>
</p>



<p>
<a href="http://videolectures.net/mlss05us_nadler_dmscr/">
Diffusion Maps, Spectral Clustering and Reaction Coordinates of Dynamical Systems
</a>
</p>

<p>
Embedding of complex data onto a low dimensional Euclidian space, via the eigenvectors of suitably normalized random walks defined on the given datasets. 

We show, both theoretically and by examples how this embedding can be used for dimensionality reduction, manifold learning, geometric analysis of complex data sets and fast simulations of stochastic dynamical systems. 

Joint work with R.R. Coifman, S. Lafon, M. Maggioni and I.G. Kevrekidis
</p>






<p>
This approach models the probability that a relation exists (in logit form) as a linear function of predictors. 
This formulation looks similar to logistic regression, but in fact each tie is on both sides of the equation and 
often in multiple predictors, making tie probabilities recursively dependent. 

This dependence is not a weakness of ERG models but is an inherent feature of relational data, and we model it 
explicitly rather than treating it as a nuisance parameter. 

Recent advances in computationally intensive statistics provide practical methods for solving the 
resulting estimation problems.
</p>


</body>                                    
</html>



nice presentation
- http://sms.cam.ac.uk/media/871

more info
- http://en.wikipedia.org/wiki/Random_walker_algorithm

python implementation
- http://scikits-image.org/docs/dev/api/skimage.segmentation.html#skimage.segmentation.random_walker

look up 'network thermodynamics'



