
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h1>Getting started with R</h1>

<p>
some notes on getting started with R:
</p>

<pre>

**Installing R on Ubuntu

$ sudo apt-get install r-base r-base-dev
http://help.nceas.ucsb.edu/installing_r_on_ubuntu

**Installing packages
http://tolstoy.newcastle.edu.au/R/e2/help/07/02/10990.html

$ sudo R
> install.packages("diffusionMap")

**Execute script
setwd('~/projects/smarttypes/smarttypes/r_scripts')
source('./test.R')

**More resources
Cosma Shalizi -- cshalizi [at] cmu.edu
Undergraduate Advanced Data Analysis
http://www.stat.cmu.edu/~cshalizi/uADA/12/

http://www.stat.cmu.edu/~cshalizi/402/programming/writing-functions.pdf

</pre>


</body>                                    
</html>

