<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<meta name="description" content="At a high level, the following is about reducing the dimensionality of a graph. 
Explaining the value in graph reduction is a task left for another day. 
For now let's just say that graphs are convenient abstractions that can be used to represent complex problems." />
    
<xi:include href="../master.html" />      
<head>

</head>                    

<body>
<div style="text-align:left;">

<h1>
Graph reduction via linlog n-body simulation 
</h1>

<p>
At a high level, the following is about reducing the dimensionality of a graph. 
Explaining the value of graph reduction is a task left for another day. 
For now let's say that graphs are a convenient way to represent complex problems. 
If you're curious, check out this from <a href="http://networkscience.wordpress.com/2011/11/21/why-everything-is-a-network/">A Recent Network Science Postdoc</a>. 
</p>

<p>
Assuming then, the inherit value in graphs. 
Reducing the dimensionality of a graph (squeezing out it's essence, it's juice) is also valuable. 
There are a lot of dimension reduction methods. 
There are a lot of graph analysis methods. 
The method/model described here uses <a href="http://en.wikipedia.org/wiki/N-body">N-body Simulation</a> to reduce a graph to 2 dimensions.
Reducing the dimensionality of our graph this much has the nice effect of making it easy to digest and transfer (spread). 
</p>

<p>
We're interested in a 2d graph layout. 
Stay w/ me for a second. 
We're going to scatter all the nodes in our graph on a 2d surface. 
Our nodes interact w/ each other until they settle down to an equilibrium. 
This is known generally as <a href="http://en.wikipedia.org/wiki/Energy_minimization">Energy Minimization</a>, and is commonly used to model complex physical systems. 
Fans of complexity and social science will see similarities between this and 
<a href="http://en.wikipedia.org/wiki/Agent-based_model">Agent Based Modeling</a>.
</p>

<p>
Lets talk for a minute about our specific goal. 
I'm interested in understanding the community structure of a graph.
The following is from the 103 page tour de force <a href="http://arxiv.org/abs/0906.0612">Community Detection in Graphs</a>.
</p>

<blockquote>The modern science of networks has brought significant advances to our understanding of complex systems. One of the most relevant features of graphs representing real systems is community structure, or clustering...

Such clusters, or communities, can be considered as fairly independent compartments of a graph, playing a similar role like, e.g., the tissues or the organs in the human body. Detecting communities is of great importance in sociology, biology and computer science, disciplines where systems are often represented as graphs. This problem is very hard and not yet satisfactorily solved, despite the huge effort of a large interdisciplinary community of scientists working on it over the past few years.
</blockquote>

<p>
Luckily <a href="http://www-sst.informatik.tu-cottbus.de/~an/">Dr. Andreas Noack</a> has done all the hard work. 
Noack’s LinLog energy model is considered the best objective function for force based community detection.
The following is from Noack's 2007 paper
<a href="http://www-sst.informatik.tu-cottbus.de/~an/Publications/JGAA2007.pdf">Energy Models for Graph Clustering</a>.
</p>

<blockquote>
Edge-repulsion LinLog energy minimizes the ratio of the mean distance 
between connected end nodes to the mean distance between all end nodes.
</blockquote>

<p style="text-align:center;padding-bottom:20px;">
<img src="/static/images/blog/linlog_energy_model.png" style="" alt="runningbulls.jpg"/>
</p>

<p>
All this means is we should strive for a graph layout where the average distance between all nodes 
equals the log of the average distance between connected nodes.  
Noack adds a little kicker by also taking the degree of connected nodes into account.
</p>

<blockquote>
The beauty of edge repulsion lies in its symmetry: Edges cause both attraction and repulsion. 
In other words, nodes that attract strongly also repulse strongly. 
More precisely, each node has consistently (in terms of attraction and repulsion) an 
influence on the layout proportional to its degree.
</blockquote>

</div>
</body>                                    
</html>

