
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h2>Cosma Shalizi's class on Diffusion Maps</h2>

<p>
First -- Cosma Shalizi.
<br/>
This is the guy you want teaching your kids.
He's an artist -- a poet even.
<br/>
I've never heard a mathematical method referred to as 'Biblical'.
<br/>
The following is from 
<a href="http://www.stat.cmu.edu/~cshalizi/350/lectures/15/lecture-15.pdf">
	Shalizi's 2009 CMU class on Diffusion Maps</a>

</p>

<blockquote>
This is saying that the substance will move away from regions of high
concentration and towards ones of low concentration, until it's evenly distributed
everywhere. On the one hand, it's almost Biblical; on the other hand, it's...
<br/>
<br/>
-- Isaiah 40:4, "Every valley shall be exalted, and every mountain and hill shall be laid low"
</blockquote>

<p style="text-align:center;">
	<img src="http://www.socialistviewpoint.org/may_02/trotsky.jpg"/>
</p>

<h2>Some more resources</h2>

<p>
<a href="http://www-users.cs.york.ac.uk/~erh/">Edwin Hancock</a> --
<a href="http://sms.cam.ac.uk/media/871">Random walk through spectral graph theory</a>
</p>

<p>
<a href="http://www.stat.cmu.edu/~annlee/">http://www.stat.cmu.edu/~annlee/</a> --
<a href="http://videolectures.net/mlss09us_lee_ndrscadcg/">
Nonlinear Dimension Reduction by Spectral Connectivity Analysis and Diffusion Coarse-Graining
</a>
</p>

<p>
<a href="http://videolectures.net/mlss05us_nadler_dmscr/">
Diffusion Maps, Spectral Clustering and Reaction Coordinates of Dynamical Systems
</a>
</p>

<blockquote>
Embedding of complex data onto a low dimensional Euclidian space, 
via the eigenvectors of suitably normalized random walks defined on the given datasets.
</blockquote>

<h2>Some other related things</h2>

<p>
more info
- http://en.wikipedia.org/wiki/Random_walker_algorithm
</p>

<p>
python implementation
- http://scikits-image.org/docs/dev/api/skimage.segmentation.html#skimage.segmentation.random_walker
</p>

<p>
look up 'network thermodynamics'
</p>

</body>                                    
</html>

