
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h1>Spectral reduction via random walk graph diffusion</h1>

<p>
Biological networks are messy and complicated.
Here's a neat quote from <a href="http://www.linkgroup.hu/petercsermely.php">Péter Csermely</a>:
</p>

<blockquote>
"Biological networks offer the experience of billion years in crisis-survival - we can learn from them."
</blockquote>

<p>
This is from Péter's site:
</p>

<blockquote>
"As an ordinary biochemist, I have started to recognize the strength 
of the network approach only in 2002...
Currently I am working on the role of weak links in the interaction 
scenarios (dynamic equilibria, games) between network partners."
</blockquote>

<p>
<a href="http://www-users.cs.york.ac.uk/~erh/">Edwin Hancock</a>
<a href="http://sms.cam.ac.uk/media/871">Random walk through spectral graph theory</a>
</p>

<p>
<a href="http://www.stat.cmu.edu/~annlee/">http://www.stat.cmu.edu/~annlee/</a>
<a href="http://videolectures.net/mlss09us_lee_ndrscadcg/">
Nonlinear Dimension Reduction by Spectral Connectivity Analysis and Diffusion Coarse-Graining
</a>
</p>

<p>
<a href="http://videolectures.net/mlss05us_nadler_dmscr/">
Diffusion Maps, Spectral Clustering and Reaction Coordinates of Dynamical Systems
</a>
</p>

<blockquote>
Embedding of complex data onto a low dimensional Euclidian space, 
via the eigenvectors of suitably normalized random walks defined on the given datasets.
</blockquote>

<p>
more info
- http://en.wikipedia.org/wiki/Random_walker_algorithm
</p>

<p>
python implementation
- http://scikits-image.org/docs/dev/api/skimage.segmentation.html#skimage.segmentation.random_walker
</p>

<p>
look up 'network thermodynamics'
</p>

</body>                                    
</html>

