
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h1>statnet - software tools for the analysis, simulation and visualization of network data</h1>

<h2>The statnet development team:</h2>

<p>
<ul>
<li>
	<a href="http://www.stat.ucla.edu/~handcock/">
	Mark S. Handcock, University of California-Los Angeles</a>
</li>
<li>
	<a href="http://sites.stat.psu.edu/~dhunter/">
	David R. Hunter, Penn State University</a>
</li>
<li>
	<a href="http://erzuli.ss.uci.edu/~buttsc/">
	Carter T. Butts, University of California-Irvine</a>
</li>
<li>
	<a href="http://faculty.washington.edu/goodreau/">
	Steven M. Goodreau, University of Washington</a>
</li>
<li>
	<a href="http://www.krivitsky.net/">
	Pavel Krivitsky, Penn State University</a>
</li>
<li>
	<a href="http://faculty.washington.edu/morrism/">
	Martina Morris, University of Washington</a>
</li>
</ul>
</p>

<h2>statnet development learning:</h2>

<a href="http://www.jstatsoft.org/v24/i06/paper">
Social Network Analysis with sna
</a>

<p>
<a href="http://www.jstatsoft.org/v24/i01/paper">
statnet: Software Tools for the Representation,
Visualization, Analysis and Simulation of Network
Data
</a>
</p>

<blockquote>
statnet includes code for many of the most common network statistics used
in the social network field, but the terms relevant for any particular network, or for networks
outside the social sciences, may be different.
</blockquote>

</body>                                    
</html>

