
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h1>statnet - software tools for the analysis, simulation and visualization of network data</h1>

<p>
Following are some cool network scientists related to statnet:
</p>

<p>
http://disasternets.calit2.uci.edu/public_html/home/team.php
</p>

<p>
<a href="http://www.jstatsoft.org/v24/i01/paper">
statnet: Software Tools for the Representation,
Visualization, Analysis and Simulation of Network
Data
</a>
</p>

<blockquote>
By contrast, models for processes with dyadic dependence require 
computationally intensive estimation and imply complex forms of feedback and global dependence
that confound both intuition and estimation.
</blockquote>

<blockquote>
With ERGMs, if the model is mis-specified and fails to produce an MLE,
the analyst can be left with little information to help guide 
the re-specification of the model.
</blockquote>

<blockquote>
statnet includes code for many of the most common network statistics used
in the social network field, but the terms relevant for any particular network, or for networks
outside the social sciences, may be different.
</blockquote>

<p>
<a href="http://www.socsci.uci.edu/~almquist/">Zack Almquist</a>
Graduate Student Researcher for advisor, 
<a href="http://erzuli.ss.uci.edu/~buttsc/">Carter T. Butts</a> 
at UCIrvine's school for
<a href="http://www.ncasd.org/public_html/">Networks, Computation, and Social Dynamics Lab</a>
</p>

<p>
<a href="http://sites.stat.psu.edu/~dhunter/">David Hunter</a>
</p>


</body>                                    
</html>

