<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>


</head>                    

<body>

    <div style="text-align:center; border:solid 1px #333333; width:350px; height:200px; margin:0 auto;">
        <p style="padding-top:30px;">
            "all you create -- and all you destroy"
        </p>
        <p><a target="_blank" href="http://twitter.com/smarttypes">@smarttypes</a></p>
        <p>hello@smarttypes.org</p>
    </div>

</body>                                    
</html>

